---
name: Tests
on: # yamllint disable-line rule:truthy
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    branches:
      - master
  # to have an ability to run thee workflow manually
  workflow_dispatch: # yamllint disable-line rule:empty-values
#
concurrency:
  group: integration-${{ github.ref }}
  cancel-in-progress: true
#
# https://docs.github.com/en/actions/reference/workflows-and-actions/workflow-syntax#permissions
# "all of those that are not specified are set to none."
permissions:
  contents: read # work with the contents of the repository
#
jobs:
  test-integration:
    name: Integration
    runs-on: ubuntu-latest
    if: github.event.pull_request.draft == false
    env:
      INDYKITE_APPLICATION_CREDENTIALS: ${{ secrets.SERVICE_ACCOUNT_CREDENTIALS }}
      INDYKITE_SERVICE_ACCOUNT_CREDENTIALS: ${{ secrets.SERVICE_ACCOUNT_CREDENTIALS }}
      CUSTOMER_ID: ${{secrets.CUSTOMER_ID}}
      TF_VAR_LOCATION_ID: ${{secrets.LOCATION_ID}}
    steps:
      - name: actions/checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0 - https://github.com/actions/checkout/releases

      - name: setup/golang
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0 - https://github.com/actions/setup-go/releases
        with:
          go-version-file: go.mod

      - name: Install Terraform
        uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3

      - name: Terraform Init and Apply
        run: |-
          make build_test_local_plugin integration
