---
name: Tests
on: # yamllint disable-line rule:truthy
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    branches: ["dev", "develop", "main", "master"]
  # Run on default branch for cache generation & to report coverage on master branch to Codecov
  push:
    branches: ["dev", "develop", "main", "master"]
  # to have an ability to run thee workflow manually
  workflow_dispatch: # yamllint disable-line rule:empty-values
#
concurrency:
  group: pr-${{ github.ref }}
  cancel-in-progress: true
#
# https://docs.github.com/en/actions/reference/workflows-and-actions/workflow-syntax#permissions
# "all of those that are not specified are set to none."
permissions:
  contents: read # work with the contents of the repository
#
jobs:
  test:
    name: Unit
    runs-on: ubuntu-latest
    steps:
      - name: actions/checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1 - https://github.com/actions/checkout/releases

      - name: setup/golang
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0 - https://github.com/actions/setup-go/releases
        with:
          go-version-file: go.mod

      - name: Run Unit tests.
        run: |
          make test

      - name: codecov/upload-coverage
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2 - https://github.com/codecov/codecov-action/releases
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./coverage.out
          # Notify us when failed, so devs are not waiting for Codecov report when it will never come.
          # Because Codecov report is required to be able to merge, we have to run again the whole test anyway.
          fail_ci_if_error: true
