---
# In case this action is failing, try to check for any updates or follow Publishing Provider tutorial at HashiCorp.
# https://developer.hashicorp.com/terraform/registry/providers/publishing#github-actions-preferred
name: Terraform release
on: # yamllint disable-line rule:truthy
  push:
    tags:
      - v*
  # to have an ability to run thee workflow manually
  workflow_dispatch: # yamllint disable-line rule:empty-values

permissions:
  contents: write

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      - name: actions/checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1 - https://github.com/actions/checkout/releases
        with:
          fetch-depth: 0

      - name: setup/golang
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0 - https://github.com/actions/setup-go/releases
        with:
          go-version-file: go.mod
          cache: true

      - name: Import GPG key
        uses: crazy-max/ghaction-import-gpg@e89d40939c28e39f97cf32126055eeae86ba74ec # v6.3.0 - https://github.com/crazy-max/ghaction-import-gpg/releases
        id: import_gpg
        with:
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.PASSPHRASE }}

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@e435ccd777264be153ace6237001ef4d979d3a7a # v6.4.0 - https://github.com/goreleaser/goreleaser-action/releases
        with:
          version: latest
          args: release --clean
        env:
          GPG_FINGERPRINT: ${{ steps.import_gpg.outputs.fingerprint }}
          # GitHub sets this automatically
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Slack Notification Failure
        if: ${{ failure() }}
        uses: rtCamp/action-slack-notify@e31e87e03dd19038e411e38ae27cbad084a90661 # v2.3.3 - https://github.com/rtCamp/action-slack-notify/releases
        env:
          SLACK_WEBHOOK: ${{ secrets.SLACK_RELEASE_WEBHOOK }}
          SLACK_COLOR: ${{ job.status }}
          SLACK_TITLE: 'Publishing to Terraform Registry failed :boom:'
          SLACK_MESSAGE: See the action for more info.`
          SLACK_USERNAME: Release BOT
          SLACK_ICON_EMOJI: ':alert:'
          SLACK_FOOTER: Kick ass!!!
