---
name: Terraform Plugin Docs

on: # yamllint disable-line rule:truthy
  push:
    branches: ["dev", "develop", "main", "master"]
    paths:
      - "indykite/**"
      - "templates/**"
      - "CHANGELOG.md"
  # to have an ability to run thee workflow manually
  workflow_dispatch: # yamllint disable-line rule:empty-values

concurrency:
  group: tfdocs-${{ github.ref }}
  cancel-in-progress: true

#
# https://docs.github.com/en/actions/reference/workflows-and-actions/workflow-syntax#permissions
# "all of those that are not specified are set to none."
permissions:
  contents: write
  pull-requests: write

jobs:
  tfplugindocs:
    name: tfplugindocs
    runs-on: ubuntu-latest
    steps:
      - name: actions/checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1 - https://github.com/actions/checkout/releases

      - name: setup/golang
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0 - https://github.com/actions/setup-go/releases
        with:
          go-version-file: go.mod

      - name: Generate docs
        run: |
          make install-tools tfdocs_generate

      # BUG: "github.action_path" is null in the next step
      - name: pre-commit CI config
        shell: bash
        run: |
          cat >"$HOME/.cache/.pre-commit-config-ci.yaml" <<EOL
          repos:
          - repo: https://github.com/pre-commit/pre-commit-hooks
            rev: v6.0.0
            hooks:
              - id: trailing-whitespace
                args: [--markdown-linebreak-ext=md]
              - id: end-of-file-fixer
              - id: mixed-line-ending
                args: [--fix=lf]
          EOL

      - name: Fix trailing whitespace & EOF in generated docs
        uses: pre-commit/action@2c7b3805fd2a0fd8c1884dcaebf91fc102a13ecd # v3.0.1 - https://github.com/pre-commit/action/releases
        # ignoring errors, as pre-commit will fail if files were modified
        continue-on-error: true
        with:
          extra_args: --all-files --config "$HOME/.cache/.pre-commit-config-ci.yaml"

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@22a9089034f40e5a961c8808d113e2c98fb63676 # v7.0.11 - https://github.com/peter-evans/create-pull-request/releases
        with:
          base: master
          branch: ci/tfplugindocs
          branch-suffix: short-commit-hash
          author: "github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>" # https://github.com/orgs/community/discussions/26560
          committer: "github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>"
          commit-message: "ci(sync): update tf plugin docs"
          title: "ci(sync): update Terraform Plugin Docs"
          body: |
            Automatically generated PR to update Terraform Plugin documentation.
          labels: ci, automation
          delete-branch: true
          # team-reviewers: <- via CODEOWNERS
          # sign-commits: true # TODO:
          signoff: true
